{% extends 'base.html' %}

{% block content %}
  <section id="main_content">
    <h1>PyGuj</h1>
    <ul>
      <li><a href="http://pycongj.appspot.com">PyCon Gujarat</a>, coming soon!</li>
      <li><a href="/welcome">Message</a> for first time visitors to the site</li>
    </ul>
    <h2>Projects</h2>
    <ul>
      <li></li>
    </ul>
    <h2>Recent Meetings</h2>
    <ul>      
      <li></li>
    </ul>
    <h2>Recent Blog Posts</h2>
    <ul>        
      <li><a href="/launching-website">Website for PyGuj</a></li>
    </ul>
  </section>
{% endblock %}
