{% extends 'base.html' %}

{% block content %}

<div class="container">
      <section id="main_content">
        <h2>Resources for Python</h2>
<h3 id='download__install_python'>Download / Install Python</h3>

<ul>
<li><a href='http://wiki.python.org/moin/BeginnersGuide/Download'>Python.org Downloading Python</a></li>
</ul>

<h3 id='online_books__tutorials'>Online books / tutorials</h3>

<h4 id='beginners'>Beginners</h4>

<ul>
<li><a href='http://www.swaroopch.com/notes/Python/'>A Byte of Python</a></li>

<li><a href='http://docs.python.org/3/tutorial/index.html'>Python.org Python Tutorial</a> <em>(Note: Python version can be selected from dropdown at top left)</em></li>

<li><a href='http://ocw.mit.edu/courses/electrical-engineering-and-computer-science/6-00sc-introduction-to-computer-science-and-programming-spring-2011/'>MIT 6.00: Introduction to Computer Science and Programming (Spring 2011)</a> <em>(The course is led by Prof. John Guttag, taught with Python and is structured particularly for remote students.)</em></li>

<li><a href='https://www.udacity.com/course/cs101'>CS101 course</a> @ <a href='https://www.udacity.com/'>Udacity</a> <em>(While not strictly a Python course, it users Python as the medium of instruction.)</em></li>
</ul>

<h4 id='exercises_driven_learning'>Exercises Driven Learning</h4>

<ul>
<li><a href='http://learnpythonthehardway.org'>Learn Python the Hard Way</a> <em>(Do not let the title fool you)</em></li>

<li><a href='https://bitbucket.org/gregmalcolm/python_koans'>Python Koans</a></li>

<li><a href='http://www.checkio.org/'>CheckIO: Python-programming-driven online adventure game</a> <em>(Solve problems with Python to advance to new levels. It welcomes beginner and experienced programmers. It is new (as of Dec 2012), so could be buggy sometimes. Also turn your &#8220;Proper English&#8221; language filters off :)</em></li>

<li><a href='http://www.codecademy.com/tracks/python'>Python track</a> @ <a href='http://www.codecademy.com/'>Codeacademy</a></li>

<li><a href='http://pythonmonk.com'>PythonMonk</a> <em>(An interactive Python book)</em></li>
</ul>

<h4 id='for_intermediate_programmers'>For intermediate programmers</h4>

<ul>
<li><a href='http://www.diveintopython.net/toc/index.html'>Dive Into Python</a></li>

<li><a href='http://getpython3.com/diveintopython3/'>Dive Into Python 3</a> (for Python 3)</li>
</ul>

<h3 id='python_api_reference'>Python API Reference</h3>

<ul>
<li><a href='http://docs.python.org'>Python Documentation</a> <em>(Note: There is a drop down box at the top left to select the python version)</em></li>
</ul>

<h3 id='comprehensive_collections_of_resources'>Comprehensive collections of resources</h3>

<ul>
<li><a href='http://wiki.python.org/moin/BeginnersGuide/Programmers'>Python.org resources for Programmers</a></li>

<li><a href='http://wiki.python.org/moin/BeginnersGuide/NonProgrammers'>Python.org resources for Non Programmers</a></li>
</ul>

<h3 id='the_definitive_python_package_index_aka_cheeseshop'>The definitive Python Package Index (aka CheeseShop)</h3>

<ul>
<li><a href='http://pypi.python.org/pypi'>PyPI</a></li>
</ul>

<h3 id='discussion_forums'>Discussion Forums</h3>

<ul>
<li><a href='https://groups.google.com/forum/?fromgroups#!forum/comp.lang.python'>Http interface to comp.lang.python via google groups</a></li>

<li><a href='http://stackoverflow.com/questions/tagged/python'>Stack Overflow Q&amp;A related to Python</a></li>
</ul>

<h3 id='other_python_interest_groups'>Other Python interest groups</h3>

<ul>
<li><a href='http://python.org.in'>Python India</a></li>
</ul>

<h3 id='python_events'>Python Events</h3>

<ul>
<li><a href='http://pycon.org'>Pycon</a></li>

<li><a href='http://in.pycon.org'>Pycon India</a></li>
</ul>

      </section>


{% endblock %}