{% extends 'base.html' %}

{% block content %}

<div class="container">
      <section id="main_content">
        <h2>Welcome to PythonPune</h2>
<p>Welcome to PythonPune, the community of Python programmers in Pune and beyond. Our primary mechanism of interactions is via the <a href='#'>PythonPune google group</a> (forum). It hosts discussions of meetings being planned, various tech Q&amp;A about Python, meeting minutes, discussions about the community itself etc. We encourage Python programmers to join the group.</p>

<p>The <a href='#'>PythonPune website</a> is a place to get an overall idea about the group. It has a blog, recent meeting notes and a members list. The website is community-managed by people forking and issuing pull requests to the <a href='#'>Github Repository</a> for the website. If managing common content via pull requests is something you have not worked with we welcome you to try it out. Its a exciting and efficient way to manage not just a website but even community or group projects. More information on the same is available at <a href='/git-and-pull-requests'>Overview of git and pull requests</a>. We also welcome you to add your profile at the <a href='/members'>members list</a> and your company information at the <a href='/companies'>companies catalog</a> <em>(this is currently under construction)</em>.</p>

<p>Should you be new to Python do check out our <a href='/python-resources'>Python resources</a> page. It lists out a number of helpful tips and online resources that can help you in your journey towards becoming an ever more enthusiastic and contributing Pythonista. Finally if you want to review some of the past happenings of significance do check out the <a href='/meetings'>meeting notes</a> and <a href='/blog'>blog</a> pages.</p>

<p>You are very welcome to participate and hope to see you on the forum, but please ensure your contributions are consistent with our <a href='/posting-policy'>posting policy</a>. To summarise it, - no posts not related to python in some shape or form (even if of interest to other programming languages) and no job posts.</p>

<p>Thanks for joining, and we hope you learn a lot and we do as well interacting with you.</p>

      </section>

{% endblock %}