<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/print.css" media="print" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>  
    <script type="text/javascript" src="{{STATIC_URL}}js/jquery.tinysort.min.js"></script>  
    <title>PyGuj - Presence of Python Gujarat Community on Internet</title>
  </head>
  <body>
    <header>
      <div class="container" id="header_menu">
        <table border=0 cellspacing=0>
          <tr>
            <td>
              <h1><a href="/">PyGuj</a></h1>
              <h2>Gujarat Pythonistas, their events and discussions.</h2>
            </td>                      
            <td>
              <div class="subscription-box">
                <h4>Subscribe to PyGuj Google Group</h4>                          
                <form action="http://groups.google.com/group/PyGuj/boxsubscribe">
                  Email: <input type=text name=email>
                  <input type=submit name="sub" value="Subscribe">	
                </form>
              </div>
            </td>
          </tr>                    
        </table>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="#" target="_blank">Google Group</a></li>
          <li><a href="/meetings">Meetings</a></li>
          <li><a href="/blog">Blog</a></li>
          <li><a href="/members">Members</a></li>
          <li><a href="/resources">Resources</a></li>
        </ul>
      </div>
    </header>
    <div class="container">
      {% block content %}
      {% endblock %}
      <section id="footer">
      </section>
    </div>
  </body>
</html>
