.ch-grid {
    margin: 10px 0 0 0;
    padding: 0;
    list-style: none;
    display: block;
    text-align: center;
    width: 100%;
}
 
.ch-grid:after,
.ch-item:before {
    content: '';
    display: table;
}
 
.ch-grid:after {
    clear: both;
}
 
.ch-grid li {
    width: 200px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}


.ch-item {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
    cursor: default;
    box-shadow:
        inset 0 0 0 16px rgba(255,255,255,0.6),
        0 1px 2px rgba(0,0,0,0.1);
    transition: all 0.4s ease-in-out;
}


.ch-img-1 {
    background-image: url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpa1/t1.0-1/c0.0.160.160/p160x160/10386816_325049334316191_7580127798336629055_n.jpg');
}
 
.ch-img-2 {
    background-image: url("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xfa1/t1.0-1/c28.0.160.160/p160x160/1625509_10152148606081297_1184092292858699821_n.jpg");
}

.ch-img-3 {
    background-image: url("https://media.licdn.com/media/p/4/000/186/3ad/0ac4275.jpg");
}


.ch-img-4 {
    background-image: url("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xpf1/v/t1.0-1/p160x160/10258846_618798938205033_8771047243351732162_n.jpg?oh=60fb3d3dcabbf808e5f9521d0f8e1cf8&oe=5454986D&__gda__=1413542539_4768808539e9ea52dd0523f7c749e053");
}


.ch-img-5 {
    background-image: url("https://fbcdn-profile-a.akamaihd.net/hprofile-ak-xaf1/v/t1.0-1/p160x160/538641_511045112268655_396585852_n.jpg?oh=09eb940e54bc7e9870568789e08df990&oe=544D4B48&__gda__=1414131652_e1b8c9c2371d697e3bec633cd0a86c86");
}


.ch-img-6 {
    background-image: url("https://media.licdn.com/mpr/mpr/shrink_200_200/p/2/000/1e1/3ff/36233b6.jpg");
}


.ch-img-7 {
    background-image: url("https://media.licdn.com/media/p/1/000/197/18e/0e05af9.jpg");
}
 


.ch-info {
    position: absolute;
    background: rgba(63,147,147, 0.8);
    width: inherit;
    height: inherit;
    border-radius: 50%;
    overflow: hidden;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: scale(0);
}


.ch-info h3 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 20px;
    margin: 0 30px;
    padding: 20px 0 0 0;
    height: 50px;
    font-family: 'Open Sans', Arial, sans-serif;
    text-shadow:
        0 0 1px #fff,
        0 1px 2px rgba(0,0,0,0.3);
}


.ch-info p {
    color: #fff;
    padding: 0px 0px;
    font-style: italic;
    margin: 0 30px;
    font-size: 12px;
    display: inline-block;
    border-top: 1px solid rgba(255,255,255,0.5);
    opacity: 0;
    transition: all 1s ease-in-out 0.4s;
}


.ch-info p a {
    display: block;
    color: rgba(255,255,255,0.7);
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 9px;
    letter-spacing: 1px;
    padding-top: 4px;
    font-family: 'Open Sans', Arial, sans-serif;
}
 
.ch-info p a:hover {
    color: rgba(255,242,34, 0.8);
}


.ch-item:hover {
    box-shadow:
        inset 0 0 0 1px rgba(255,255,255,0.1),
        0 1px 2px rgba(0,0,0,0.1);
}


.ch-item:hover .ch-info {
    transform: scale(1);
    opacity: 1;
}

.ch-item:hover .ch-info p {
    opacity: 1;
}