{% extends 'base.html' %}

{% block content %}
  <section id="main_content">
    <h1>Who We are ?</h1>
    <ul>
      <li></li>
      <li></li>
    </ul>
    <h2>What we are doing ?</h2>
    <ul>
      <li></li>
    </ul>
    <h2>Meet Up</h2>
    <ul>
      <li><a href="https://www.python.org/events/python-user-group/153/">Kick Start</a></li>
      <li><a href="https://www.facebook.com/events/1429184977334328/?ref=5">Inauguration of The Open Source Technologies Club - SPCE</a></li>
    </ul>
    <h2>Recent Blog Posts</h2>
    <ul>        
      <li><a href="/launching-website">Website for PyGuj</a></li>
    </ul>
    <h3><a href="/welcome">Message</a> for first time visitors to the site</h3>
  </section>
{% endblock %}
