{% extends 'base.html' %}

{% block content %}
  <section id="main_content">
    <h2>Website for PythonGujarat</h2>
    <p>We&#8217;ve created a website for PythonGujarat. Hope this helps put together various information about pythonGujarat and its activities and discussions in one place from where it can be referred to easily.</p>
    <p>The website is accessible at <a href='http://pycongj.appspot.com'>http://pycongj.appspot.com</a>.</p>
    <p><em>Update 2012-12-11: updated URL to point to a sub-domain of python.org.in.</em></p>
  </section>
{% endblock %}
