{% extends 'base.html' %}

{% block content %}

<ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-1">
          <div class="ch-info">
                <h3>Milap Bhojak</h3>
                <p><a href="https://www.facebook.com/Milap.Silentkiller?fref=ts"><img src="/static/images/facebook.png"></a></p>
                <p><a href="https://www.linkedin.com/profile/view?id=177474586&authType=OUT_OF_NETWORK&authToken=2EiU&locale=en_US&srchid=3210672311407182164227&srchindex=1&srchtotal=594&trk=vsrp_people_res_name&trkInfo=VSRPsearchId%3A3210672311407182164227%2CVSRPtargetId%3A177474586%2CVSRPcmpt%3Aprimary"><img src="/static/images/linkedin.png"></a></p>
                <p><a href="https://twitter.com/BhojakMilap"><img src="/static/images/twitter.png"></a></p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="ch-item ch-img-2">
            <div class="ch-info">
                <h3>Harsh Nisar</h3>
                <p><a href="https://www.facebook.com/harsh.nisar.92?fref=ts"><img src="/static/images/facebook.png"></a></p>
                <p><a href="https://www.linkedin.com/profile/view?id=311693139&authType=OUT_OF_NETWORK&authToken=jbtR&locale=en_US&trk=tyah2&trkInfo=tarId%3A1407182551984%2Ctas%3Aharsh%2Cidx%3A1-1-1"><img src="/static/images/linkedin.png"></a></p>
                <p><a href="https://twitter.com/NisarHogaya"><img src="/static/images/twitter.png"></a></p>
                
            </div>
        </div>
    </li>
    
    
</ul>

<ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-3">
            <div class="ch-info">
                <h3>Juned Munshi</h3>
                <p><a href="https://www.facebook.com/juned23?fref=ts"><img src="/static/images/facebook.png"></a></p>
                <p><a href="https://www.linkedin.com/profile/view?id=144202105&authType=OUT_OF_NETWORK&authToken=Wb_S&locale=en_US&trk=tyah2&trkInfo=tarId%3A1407182733281%2Ctas%3Ajuned%20%2Cidx%3A1-1-1"><img src="/static/images/linkedin.png"></a></p>
                <p><a href="#"><img src="/static/images/twitter.png"></a></p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="ch-item ch-img-4">
            <div class="ch-info">
                <h3>Vaibhavi Desai</h3>
                <p><a href="https://www.facebook.com/vaibhavid1?fref=ts"><img src="/static/images/facebook.png"></a></p>
                <p><a href="https://www.linkedin.com/profile/view?id=252149540&authType=OUT_OF_NETWORK&authToken=79FP&locale=en_US&trk=tyah2&trkInfo=tarId%3A1407183068161%2Ctas%3Avaibhavi%2Cidx%3A1-1-1"><img src="/static/images/linkedin.png"></a></p>
                <p><a href="https://twitter.com/VaibhaviDesai"><img src="/static/images/twitter.png"></a></p>
                
            </div>
        </div>
    </li>
    
    
</ul>


<ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-5">
            <div class="ch-info">
                <h3>Prakhar Joshi</h3>
                <p><a href="https://www.facebook.com/ppp3103"><img src="/static/images/facebook.png"></a></p>
                <p><a href="https://www.linkedin.com/profile/view?id=321067231&trk=nav_responsive_tab_profile_pic"><img src="/static/images/linkedin.png"></a></p>
                <p><a href="https://twitter.com/Iamfledgling"><img src="/static/images/twitter.png"></a></p>
            </div>
        </div>
    </li>
    
    <li>
        <div class="ch-item ch-img-6">
            <div class="ch-info">
                <h3>Somsubhra Bairi</h3>
                <p><a href="https://www.facebook.com/somsubhra.bairi?fref=ts"><img src="/static/images/facebook.png"></a></p>
                <p><a href="https://www.linkedin.com/profile/view?id=223289037&authType=OUT_OF_NETWORK&authToken=4gvK&locale=en_US&trk=tyah2&trkInfo=tarId%3A1407183371755%2Ctas%3Asomsu%2Cidx%3A1-1-1"><img src="/static/images/linkedin.png"></a></p>
                <p><a href="https://twitter.com/SomsubhraBairi"><img src="/static/images/twitter.png"></a></p>
                
            </div>
        </div>
    </li>
    
    
</ul>


<ul class="ch-grid">
    <li>
        <div class="ch-item ch-img-7">
            <div class="ch-info">
                <h3>Harsh Kothari</h3>
                <p><a href="https://www.facebook.com/harshkothari410?fref=ts"><img src="/static/images/facebook.png"></a></p>
                <p><a href="https://www.linkedin.com/profile/view?id=159547847&authType=OUT_OF_NETWORK&authToken=4765&locale=en_US&trk=tyah2&trkInfo=tarId%3A1407183506730%2Ctas%3Aharsh%20ko%2Cidx%3A1-1-1"><img src="/static/images/linkedin.png"></a></p>
                <p><a href="https://twitter.com/harshkothari410"><img src="/static/images/twitter.png"></a></p>
            </div>
        </div>
    </li>
    
    
    
</ul>

</section>

<style>


#circle


{


border-radius:50% 50% 50% 50%;    


width:160px;


height:160px;




}
</style>




{% endblock %}
